<ion-view title="Test">
    <ion-content>
        <br>
        <h1>{{title}}</h1>
        <br>
        <button class="button button-dark" ng-click="getPhoto()">
            photo
        </button>
        <br>
        <button class="button button-dark" ng-click="action()">
            action
        </button>
        <br>
        <br>
        <button class="button button-dark" ng-click="record()">
            record
        </button>


        <ion-list>


        </ion-list>
    </ion-content>
</ion-view>
